[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
asyncpg = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-freedictionaryapi = {extras = ["async-client"], version = "*"}
fastapi-mail = {editable = true, git = "https://github.com/sabuhish/fastapi-mail"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
tox = "*"

[requires]
python_version = "3.9"
