[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-mail = "*"
python-dotenv = "*"
pyyaml = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
asyncpg = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-freedictionaryapi = {extras = ["async-client"], version = "*"}
alembic = "*"
authlib = "*"
itsdangerous = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
flake8 = "*"
coverage = "*"
mypy = "*"
types-pyyaml = "*"
sqlalchemy2-stubs = "*"
asgi-lifespan = "*"

[requires]
python_version = "3.10"
